:root {
	--general-color: #003399;
	--general-background: #000000;
	--general-shadow: rgba(255, 255, 255, 0.1);
	--general-text: #CCCCCC;
	--general-text_second: #8c8c8c;
	--general-text_third: #464242;
	--general-link: #002266;
	--general-border: #313131;
	--general-scrollbar: #323232;
	--sidenav-background: #050505;
	--sidenav-border: #050505;
	--table-border: #313131;
	--button-background_hover: #00050F;
	--button-background_active: #000A1F;
	--toc-background: #050505;
	--footer-background: #050505;
	--hr: #FFFFFF;
	--infobox-text_h1: #F8F8F8;
	--infobox-background: #050505;
	--toolbar-icons: 40%;
}
