@font-face {
	font-family: 'opensans-regular';
	src: url('../content/OpenSans-Regular.ttf');
}

html {
	font-family: opensans-regular, sans-serif;
	background-color: #FFFFFF;
}
body {
	margin: 0;
}
.error {
	border: 1px solid red;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 5px;
}
/*Homepage boxes*/
.previewBoxes {
	text-align: center;
	width: 100%;
}
.previewBox {
	display: inline-block;
	background-size: cover;
	margin: 15px;
	position: relative;
	width: calc(25vw - 251px);
	min-width: 100px;
	max-width: 300px;
	height: calc(25vw - 251px);
	min-height: 100px;
	max-height: 300px;
	cursor: pointer;
	border-radius: 5px;
	transition: box-shadow 300ms;
}
.previewBox:hover {
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.32), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
	transition: box-shadow 500ms;
}
.previewBox span {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 75%;
	padding: 8%;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	text-align: center;
	border-radius: 0 0 5px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*Image popup*/
.fullscreen-image {
	display: none;
	position: fixed;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.85);
	text-align: center;
	color: white;
}

.fullscreen-image div {
	max-width: 100%;
	resize: both;
	overflow: auto;
	display: inline-block;
}
.fullscreen-image img {
	width: 100%;
}
.fullscreen-image span {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 50px;
	line-height: 10px;
	cursor: pointer;
}
.sidenav-button {
	cursor: pointer;
}

@media only screen and (max-width: 750px) {
	nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0 !important;
	}
	.card {
		position: relative;
		left: 0 !important;
		right: 0;
	}
	.card-content-desc blockquote {
		width: auto;
		margin-right: 0;
	}
}
@media only screen and (max-width: 1250px) and (min-width: 751px) {
	.card blockquote {
		width: auto;
	}
	.card {
		padding: 10px !important;
	}
	.sidenav-button {
		display: none !important;
	}
}
@media only screen and (min-width: 1251px) {
	.sidenav-button {
		display: none !important;
	}
}

.open {
	display: initial;
}
