@font-face {
	font-family: 'opensans-regular';
	src: url('../content/OpenSans-Regular.ttf');
}

html {
	font-family: opensans-regular, sans-serif;
	background-color: #FFFFFF;
}
body {
	margin: 0;
}
.error {
	border: 1px solid red;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 5px;
}
/*Diverse*/
.cardSearchBox {
	margin: 10px 0;
	display: flex;
	width: 100%;
	border: 2px solid #DCDCDC;
	border-radius: 5px;
	transition: border 200ms linear 0s;
}
.cardSearchBox > input {
	border: none;
	padding: 10px 15px;
}
.cardSearch {
	flex: 6;
	width: 90%;
	transition: border 200ms linear 0s;
}
.cardSearchBox ~ .cardSearch:focus, .cardSearch:focus .cardSearch-button {
	border: 2px solid #3295FF;
	transition: border 200ms linear 0s;
}
.cardSearch-button {
	flex: 1;
	background-color: #DCDCDC;
	cursor: pointer;
}
/*Homepage boxes*/
.previewBoxes {
	text-align: center;
	width: 100%;
}
.previewBox {
	display: inline-block;
	background-size: cover;
	margin: 15px;
	position: relative;
	width: calc(25vw - 251px);
	min-width: 100px;
	max-width: 300px;
	height: calc(25vw - 251px);
	min-height: 100px;
	max-height: 300px;
	cursor: pointer;
	border-radius: 5px;
	transition: box-shadow 300ms;
}
.previewBox:hover {
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.32), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
	transition: box-shadow 500ms;
}
.previewBox span {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 75%;
	padding: 8%;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	text-align: center;
	border-radius: 0 0 5px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*Image popup*/
.fullscreen-image {
	display: none;
	position: fixed;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.85);
	text-align: center;
	color: white;
}

.fullscreen-image div {
	max-width: 100%;
	resize: both;
	overflow: auto;
	display: inline-block;
}
.fullscreen-image img {
	width: 100%;
}
.fullscreen-image span {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 50px;
	line-height: 10px;
	cursor: pointer;
}
.sidenav-button {
	cursor: pointer;
}
/*FLEXBOX*/
.flexboxData {
	display: flex;
	border: 2px solid #DCDCDC;
	flex-wrap: wrap;
}
.flexboxData > div {
	padding: 20px;
	flex: 1 0 45%;
	overflow: auto;

}
.flexboxData pre {
	margin: 0;
	text-overflow: clip;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.flexboxData h2 {
	margin: 0;
	text-align: center;
}
/*EDITOR*/
.editor-bar {
	margin: 5px 0;
}
.cardEditor .editor-bar_group {
	margin-right: 10px;
	display: inline-block;
	padding: 3px 5px;
}
.cardEditor .editor-bar_group img {
	cursor: pointer;
	border: 2px solid #DDDDDD;
	border-right: 0;
	padding: 5px;
}
.cardEditor .editor-bar_group img:hover {
	background-color: #DDDDDD;
}
.cardEditor .editor-bar_group img:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.cardEditor .editor-bar_group img:last-of-type {
	border-right: 2px solid #DDDDDD;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.cardEditor > #textEdit {
	white-space: pre-wrap;
	width: 100%;
	height: 500px;
	margin-bottom: 5px;
	overflow: hidden;
	font: fixed;
}
.cardEditor > #textEdit, .cardEditor > input {
	resize: vertical;
	border: 2px solid #DCDCDC;
	transition: border 200ms linear 0s;
	border-radius: 5px;
	padding: 10px 15px;
	max-height: 2000px;
}
.cardEditor > #textEdit:focus, .cardEditor > input:focus {
	border: 2px solid #3295FF;
	transition: border 200ms linear 0s;
}
@media only screen and (max-width: 750px) {
	nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0 !important;
		right: 0 !important;
		width: auto !important;
	}
	.infobox {
		width: auto !important;
		max-width: 300px;
		margin: 0 !important;
	}
	.card {
		position: relative;
		left: 0 !important;
		right: 0;
	}
	.card blockquote {
		width: auto !important;
		margin-right: 0 !important;
	}
	.card > p {
		max-width: none !important;
	}
}
@media only screen and (max-width: 1250px) and (min-width: 751px) {
	.card blockquote {
		width: auto;
	}
	.card {
		padding: 10px !important;
	}
	.sidenav-button {
		display: none !important;
	}
}
@media only screen and (min-width: 1251px) {
	.sidenav-button {
		display: none !important;
	}
}

.open {
	display: initial;
}
