@font-face {
	font-family: 'opensans-regular';
	src: url('../OpenSans-Regular.ttf');
}

template { /*For IE users*/
	display: none;
}

.card-content {
	margin-left: 251px;
	width: calc(100% - 251px);
}

html.wait, html.wait * {
	cursor: wait !important;
}
html {
	font-family: opensans-regular, sans-serif;
	background-color: var(--color_main);
}
body {
	margin: 0;
	color: var(--color_main-opposite)
}
footer {
	padding: 15px 5%;
	padding-left: 266px;
	border-top: 1px solid var(--color_borders);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
footer a {
	color: #003399;
	text-decoration: none;
}
footer a::after {
	content: " | ";
	color: var(--color_main-opposite);
}
footer a:last-of-type::after {
	content: "";
}
/*Notif*/
.notif {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.notif-zone {
	display: block;
	position: absolute;
	top: 15%;
	left: 25%;
	right: 25%;
	bottom: 15%;
	background-color: var(--color_main);
	border: 1px solid var(--color_borders);
	z-index: 3;
	padding: 1% 5%;
}
.notif .button-area {
	text-align: center;
	padding-top: 15px;
}
.notif h1 {
	margin: 0;
	font-size: 4em;
	height: 20%;
}
.notif p {
	margin: 0;
	font-size: 2em;
	text-indent: 30px;
	height: 60%;
	overflow-y: auto;
}
.notif a {
	font-size: 1.5em;
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	padding: 10px 15px;
	margin: 0 5px;
}
/*Diverse*/
.cardSearchBox {
	margin: 10px 0;
	display: flex;
	width: 100%;
	border-radius: 5px;
	transition: border 200ms linear 0s;
	position: relative;
}
.cardSearchBox > input {
	border: none;
	padding: 10px 15px;
	background-color: var(----color_main);
	color: var(--color_main-opposite);
	border-left: 2px solid var(--color_borders);
}
.cardSearch {
	flex: 6;
	width: 90%;
	transition: border 200ms linear 0s;
}
.cardSearch-button {
	flex: 1;
	background-color: var(--color_borders);
	cursor: pointer;
	position: absolute;
	top: 2px;
	right: 0;
}
/*Homepage boxes*/
.previewBox {
	display: inline-block;
	background-size: cover;
	margin: 15px;
	position: relative;
	width: calc(25vw - 251px);
	min-width: 100px;
	max-width: 300px;
	height: calc(25vw - 251px);
	min-height: 100px;
	max-height: 300px;
	cursor: pointer;
	border-radius: 5px;
	transition: box-shadow 300ms;
}
.previewBox:hover {
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.32), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
	transition: box-shadow 500ms;
}
.previewBox span {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 75%;
	padding: 8%;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	text-align: center;
	border-radius: 0 0 5px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*Image popup*/
.fullscreen-image {
	position: fixed;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.85);
	text-align: center;
	color: white;
}

.fullscreen-image div {
	max-width: 100%;
	resize: both;
	overflow: auto;
	display: inline-block;
}
.fullscreen-image img {
	width: 100%;
}
.fullscreen-image button {
	color: white;
	background-color: unset;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 50px;
	line-height: 10px;
	height: 50px;
	cursor: pointer;
}


.sidenav-button {
	cursor: pointer;
}
/*FLEXBOX*/
.flexboxData {
	display: flex;
	border: 2px solid var(--color_borders);
	flex-wrap: wrap;
}
.flexboxData > div {
	padding: 20px;
	flex: 1 0 45%;
	overflow: auto;

}
.flexboxData pre {
	margin: 0;
	text-overflow: clip;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.flexboxData h2 {
	margin: 0;
	text-align: center;
}
/*EDITOR*/
.editor-bar {
	margin: 5px 0;
}
.editor-bar_group {
	margin-right: 10px;
	display: inline-block;
	padding: 3px 5px;
}
.editor-bar_group > div {
	cursor: pointer;
	border: 2px solid var(--color_borders);
	border-right: 0;
	padding: 5px;
	width: 25px;
	height: 25px;
	display: inline-block;
	fill: red;
	position: relative;
}
.editor-bar_group > div img {
	height: 100%;
	filter: invert(var(--invert-value));
	width: 100%;
	margin: 0;
	max-width: none;
	max-height: none;
	position: inherit;
}
.editor-bar_group > div:hover {
	background-color: var(--color_borders);
}
.editor-bar_group > div:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.editor-bar_group > div:last-of-type {
	border-right: 2px solid var(--color_borders);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.editor-bar_group > div:hover::after {
	background-color: var(--color_main);
	border: 2px solid var(--color_borders);
	top: 40px;
	left: -100px;
	color: var(--color_main-opposite);
	content: attr(tt-name)"\A"attr(tt-hlp);
	white-space: pre;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 200px;
	text-align: center;
	word-break: break-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
}
/*FORMS DESIGN*/
#textEdit {
	width: 100%;
	height: 500px;
	margin-bottom: 5px;
	background-color: var(--color_main);
	color: var(--color_main-opposite)
	font: fixed;
	overflow: auto;
	display: inline-block;
}
.submit {
	cursor: pointer;
}
#textEdit, input[type=text], input[type=password], .input, .submit, select {
	resize: vertical;
	background-color: var(--color_main);
	color: var(--color_main-opposite);
	border: 2px solid var(--color_borders);
	transition: border 200ms linear 0s;
	border-radius: 5px;
	padding: 10px 15px;
	max-height: 2000px;
}
#textEdit:hover, input[type=text]:hover, input[type=password]:hover, .input:hover, .submit:hover, select:hover {
	border: 2px solid #003399;
	transition: border 400ms linear 0s;
}
#textEdit:focus, input[type=text]:focus, input[type=password]:focus, .input:focus, .submit:focus, select:focus {
	border: 2px ridge #003399;
}
@media only screen and (max-width: 550px) {
	.infobox {
		clear: both !important;
	}
}
@media only screen and (max-width: 750px) {
	.card-content {
		margin-left: 0;
		width: 100%;
	}
	footer {
		padding-left: 15px;
	}
	.toc {
		width: calc(100% - 30px) !important;
	}
	nav {
		display: none;
		position: fixed;
		z-index: 5;
		overflow: auto !important;
		top: 0;
		left: 0 !important;
		right: 0 !important;
		width: auto !important;
	}
	.infobox {
		width: 100% !important;
		margin: 2px !important;
		clear: both;
	}
	.card {
		position: relative;
		left: 0 !important;
		right: 0;
	}
	.card blockquote {
		width: auto !important;
		margin-right: 0 !important;
		clear: both;
	}
	.card > p {
		max-width: none !important;
	}
	#notif {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
@media only screen and (max-width: 1250px) and (min-width: 751px) {
	.card blockquote {
		width: auto;
	}
	.card {
		padding: 10px !important;
	}
	.sidenav-button {
		display: none !important;
	}
	#textEdit {
		width: calc(100% - 35px) !important;
	}
}
@media only screen and (min-width: 1251px) {
	.sidenav-button {
		display: none !important;
	}
}

.open {
	display: initial !important;
}
.hidden {
	display: none;
}
.center {
	text-align: center;
}
